/* Import theme - update path as needed */
@import "../omarchy/current/theme/waybar.css";

* {
  border: none;
  border-radius: 0;
  font-family:
    JetBrainsMono Nerd Font,
    monospace;
  font-size: 14px;
  color: @foreground;
  background-color: @background;
  margin: 1px 1px;
  min-height: 0px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#custom-update {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: background 0.3s ease;
  color: @foreground;
}

#custom-update:hover {
  background: @foreground;
  color: @background;
}

#custom-omarchy {
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: background 0.3s ease;
  background: @background;
  color: @foreground;
}

#custom-omarchy:hover {
  background: @foreground;
  color: @background;
}

#clock {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: background 0.3s ease;
  background: @background;
  color: @foreground;
}

#clock:hover {
  background: @foreground;
  color: @background;
}

#custom-cava {
  margin-left: 8px;
}

#network {
  margin-right: 8px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 10px;
  transition: background 0.3s ease;
  background: @background;
  color: @foreground;
}

#network:hover {
  background: @foreground;
  color: @background;
}

#pulseaudio {
  margin-right: 8px;
  border-radius: 10px;
  padding-left: 0px;
  padding-right: 0px;
  transition: background 0.3s ease;
  background: @background;
  color: @foreground;
}

#pulseaudio:hover {
  background: @foreground;
  color: @background;
}

#backlight {
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: background 0.3s ease;
  background: @background;
  color: @foreground;
}

#backlight:hover {
  background: @foreground;
  color: @background;
}

#battery {
  margin-right: 8px;
  padding-left: 1px;
  padding-right: 1px;
  border-radius: 10px;
  transition: background 0.3s ease;
  background: @background;
  color: @foreground;
}

#battery:hover {
  background: @foreground;
  color: @background;
}

#battery.charging {
  color: @foreground;
  padding-right: 9px;
  padding-left: 9px;
  background-color: @background;
}

#battery.warning:not(.charging) {
  background-color: @background;
  color: #ff0000;
}

#battery.critical:not(.charging) {
  background-color: @background;
  color: @foreground;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tooltip {
  background-color: @background;
  color: @foreground;
}

#tray {
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 8px;
  border-radius: 10px;
  transition: background 0.3s ease;
  background: @background;
  color: @foreground;
}

#tray:hover {
  background: @foreground;
  color: @background;
}

#custom-screenrecording-indicator {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background: @background;
  color: @foreground;
}

#custom-screenrecording-indicator.active {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#bluetooth {
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: background 0.3s ease;
  background: @background;
  color: @foreground;
}

#bluetooth:hover {
  background: @foreground;
  color: @background;
}

#cpu {
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: background 0.3s ease;
  background: @background;
  color: @foreground;
}

#cpu:hover {
  background: @foreground;
  color: @background;
}

#custom-expand-icon {
  margin-right: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: background 0.3s ease;
  background: @background;
  color: @foreground;
}

#custom-expand-icon:hover {
  background: @foreground;
  color: @background;
}

@keyframes blink {
  to {
    background-color: #eb4034;
    color: @background;
  }
}
